html {
  box-sizing: border-box;
  font-family: "ff-meta-serif-web-pro", serif;
  color: #555;
  font-size: 16px;
}

/* Primera navegación */
.anchornav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.anchornav li {
  display: block;
}
.anchornav li::after {
  content: "";
  width: 1.3rem;
  display: block;
  height: 2px;
  background: black;
}
.anchornav li:last-child::after {
  display: none;
}
.anchornav a {
  display: block;
  padding: 1em 0;
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.4px;
  color: inherit;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.anchornav a span {
  display: inline;
  padding: 0.5em 0 0;
  opacity: 0.3;
  letter-spacing: normal;
  font-family: "ff-meta-serif-web-pro", serif;
  text-transform: none;
}
.anchornav a:hover {
  color: #de5f5f;
}
.anchornav a:hover span {
  opacity: 1;
  color: #181818;
}

/* Secciones */
.seccion {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 60vh;
  align-content: center;
  padding: 20vh 50px 20vh 75px;
}
.seccion .seccion_inner {
  height: 100%;
  margin: auto 0 auto 0;
}
.seccion.seccion--hola {
  background-color: #fdef52;
  color: #181818;
}

/* Typo */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
  font-family: "nimbus-sans", sans-serif;
  font-weight: bold;
  margin: 0 0 1em;
  line-height: 1;
  letter-spacing: -1px;
}

.contenido-texto h2 {
  margin: 0 0 0.2em;
}

@media (min-width: 30rem) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h5 {
    letter-spacing: -2px;
  }
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
  color: inherit;
}
h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
  border-bottom: 0.1875rem solid;
}
h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
  color: #de5f5f;
}
h1,
.h1 {
  font-size: 1.2rem;
}
@media (min-width: 30rem) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}
h2,
.h2 {
  font-size: 0.75rem;
}
@media (min-width: 30rem) {
  h2,
  .h2 {
    font-size: 1.75em;
  }
}
.pre {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}
.pre span {
  font-size: 0.9em;
  margin-right: 0.4em;
  opacity: 0.5;
}
.pre:hover {
  opacity: 1;
}
p {
  font-size: 0.75rem;
  line-height: 1.4;
}
@media (min-width: 30rem) {
  p {
    font-size: 0.875rem;
  }
}
p a {
  font-weight: bold;
  color: inherit;
}
p a:hover {
  border-bottom: 0.1875rem solid;
}
.lead {
  display: block;
  font-size: 0.875rem;
  margin: 0;
}

.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}
.columnas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.columna {
  flex: 1;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 980px) {
  .columnas .columna {
    margin-bottom: 5px;
    flex-basis: 40%;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .columnas .columna {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

i {
  display: block;
  width: 20%;
  height: auto;
}
