/* Main */
html {
  box-sizing: border-box;
  font-family: "ff-meta-serif-web-pro", sans-serif;
  color: var(--main-gray);
  font-size: 16px;
}

@media (min-width: 6.25em) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 12.5em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 18.75em) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 25em) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 31.25em) {
  html {
    font-size: 21px;
  }
}
@media (min-width: 37.5em) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 43.75em) {
  html {
    font-size: 23px;
  }
}
@media (min-width: 50em) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 56.25em) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 62.5em) {
  html {
    font-size: 26px;
  }
}
@media (min-width: 68.75em) {
  html {
    font-size: 27px;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 81.25em) {
  html {
    font-size: 29px;
  }
}
@media (min-width: 87.5em) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 93.75em) {
  html {
    font-size: 31px;
  }
}
@media (min-width: 100em) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 106.25em) {
  html {
    font-size: 33px;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 34px;
  }
}
@media (min-width: 118.75em) {
  html {
    font-size: 35px;
  }
}
@media (min-width: 125em) {
  html {
    font-size: 36px;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

i {
  width: 10%;
  height: auto;
  text-align: center;
}

/* Barra de navegación */
.lado {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 50px;
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  font-size: 10px;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.lado:hover {
  color: rgba(0, 0, 0, 0.5);
}

.lado .lado_inner {
  position: relative;
  height: 100%;
  white-space: nowrap;
}

.lado a {
  color: inherit;
  word-spacing: 0;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.lado .arriba,
.lado .abajo {
  position: absolute;
  left: 0;
  transform: rotate(-90deg) perspective(1px);
  transform-origin: 50px 50px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  word-spacing: 0.5rem;
}

.lado .arriba {
  top: 25px;
  text-align: right;
  color: black;
}

.lado .abajo {
  top: auto;
  bottom: 75px;
}

.lado .abajo:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.lado .abajo:hover a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.anchornav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.anchornav li {
  display: block;
}
.anchornav li::after {
  content: "";
  width: 1.3rem;
  display: block;
  height: 2px;
  background: black;
}
.anchornav li:last-child::after {
  display: none;
}
.anchornav a {
  display: block;
  padding: 1em 0;
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.4px;
  color: inherit;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.anchornav a span {
  display: inline;
  padding: 0.5em 0 0;
  opacity: 0.3;
  letter-spacing: normal;
  font-family: "ff-meta-serif-web-pro", serif;
  text-transform: none;
}
.anchornav a:hover {
  color: white;
}
.anchornav a:hover span {
  opacity: 1;
  color: var(--main-black);
}

/* Secciones */
.seccion {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 60vh;
  align-content: center;
  padding: 10vh 50px 0 75px;
  width: 100%;
}
.seccion .seccion_inner {
  height: 100%;
  max-width: 1100px;
}
.seccion.seccion--hola {
  color: var(--main-black);
  height: 100vh;
  background-size: cover;
  background-image: url("../assets/vu-anh-TiVPTYCG_3E-unsplash.jpg");
}
.seccion.seccion--hola::before {
  color: rgba(9, 162, 255, 0.7);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  z-index: 1;
}
.seccion.seccion--hola .seccion_inner {
  max-width: 640px;
  z-index: 2;
  padding: 40px 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.seccion.seccion--intro,
.seccion.seccion--historia,
.seccion.seccion--sistemas,
.seccion.seccion--futuro {
  background-color: white;
  color: var(--main-gray);
  align-items: center;
}

.seccion.seccion--quien,
.seccion.seccion--estudios,
.seccion.seccion--idiomas-hobbies {
  background-color: white;
  color: var(--main-gray);
  padding: 1vh 50px 5vh 75px;
  align-items: center;
}
.seccion.seccion--contacto {
  background-color: var(--main-blue);
  color: var(--main-black);
  padding: 3vh 50px 10vh 75px;
}

.seccions.seccion-videos {
  background-color: white;
  color: var(--main-gray)
  padding: 1vh 50px 5vh 75px;
}

/* Typo */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
  font-family: "nimbus-sans", sans-serif;
  font-weight: bold;
  margin: 0 0 1em;
  line-height: 1;
  letter-spacing: -1px;
}

.contenido-texto h2 {
  margin: 0 0 0.2em;
}

@media (min-width: 30rem) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h5 {
    letter-spacing: -2px;
  }
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
  color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
  border-bottom: 0.1875rem solid;
}
h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
  color: #de5f5f;
}

h1,
.h1 {
  font-size: 1.2rem;
}

h2,
.h2 {
  font-size: 0.75rem;
}

@media (min-width: 30rem) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }

  h2,
  .h2 {
    font-size: 1.75em;
  }
}

.pre {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}
.pre span {
  font-size: 0.9em;
  margin-right: 0.4em;
  opacity: 0.5;
}
.pre:hover {
  opacity: 1;
}
p {
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: justify;
}
@media (min-width: 30rem) {
  p {
    font-size: 0.6rem;
  }
  ol {
    font-size: 0.6rem;
  }
}
p a {
  font-weight: bold;
  color: inherit;
}
p a:hover {
  border-bottom: 0.1875rem solid;
}
.lead {
  display: block;
  font-size: 0.875rem;
  margin: 0;
}
.co-lead {
  line-height: 26px;
  font-size: 18px;
  text-align: justify;
}
.co-lead a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

/* Grid de columnas y contenido*/
.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}
.columnas {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.columna {
  flex: 1;
  /*border: 1px solid gray;*/
  margin: 2px;
  padding: 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

#videos .columnas {
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 980px) {
  .columnas .columna {
    margin-bottom: 5px;
    flex-basis: 40%;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .columnas .columna {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.contenido-titulo {
  font-size: 1rem;
  text-align: center;
}

/* Contenido */
.historia-lista {
  padding-left: 35px;
  padding-bottom: 50px;
}
ol > li {
  margin-top: 10px;
  padding-top: 10px;
  text-align: justify;
}

.col-sm-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.texto-centrado {
  text-align: center;
}

.desc {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-me {
  text-align: center;
  font-size: 1.5em;
  color: var(--main-blue);
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

/* Timeline */
.timeline-contenedor {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .timeline-contenedor {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .timeline-contenedor {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.timeline-contenedor::after,
.timeline-contenedor::before {
  content: "";
  display: table;
  clear: both;
}

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#timeline::before {
  /* this is the vertical line */
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-bloque {
  position: relative;
  margin: 2em 0;
}

.timeline-bloque:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-bloque:first-child {
  margin-top: 0;
}

.timeline-bloque:last-child {
  margin-bottom: 0;
}

.timeline-bloque .timeline-anho.derecha strong,
.timeline-bloque .timeline-anho.izquierda strong {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -3px;
}

.timeline-bloque .timeline-anho.derecha strong {
  margin-left: 50px;
}

.timeline-bloque .timeline-anho.izquierda strong {
  margin-left: -140px;
}

@media only screen and (min-width: 1170px) {
  .timeline-bloque {
    margin: 0 0;
  }

  .timeline-bloque:first-child {
    margin-top: 0;
  }

  .timeline-bloque:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1169px) {
  .timeline-bloque .timeline-anho {
    margin-left: 4px;
  }

  .timeline-bloque .timeline-anho.derecha strong,
  .timeline-bloque .timeline-anho.izquierda strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
  }

  .timeline-bloque .timeline-anho.izquierda strong,
  .timeline-bloque .timeline-anho.derecha strong {
    margin-left: -5px;
    margin-top: -40px;
    background: #fff;
  }
}

.timeline-anho {
  background: #2aa8e0;
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 2px rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 1170px) {
  .timeline-anho {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.timeline-contenido {
  position: relative;
  margin-left: 60px;
  background: #ebebeb;
  border-radius: 0.25em;
  padding: 1em;
  margin-bottom: 1rem;
  box-shadow: 0 3px 0 #d7e4ed;
}

.timeline-contenido:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-contenido {
  display: inline-block;
}

.timeline-contenido::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right: 10px solid #ebebeb;
}

.timeline-contenido .percent {
  font-size: 2.5rem;
  font-weight: 300;
}

.timeline-contenido h5 {
  font-size: 1rem;
}

@media only screen and (min-width: 1170px) {
  .timeline-contenido {
    margin-left: 0;
    width: 45%;
  }

  .timeline-contenido::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ebebeb;
  }

  .timeline-bloque:nth-child(even) .timeline-contenido {
    float: right;
  }

  .timeline-bloque:nth-child(3) .timeline-contenido {
    float: right;
  }

  .timeline-bloque:nth-child(3) .timeline-contenido::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }

  .timeline-bloque:nth-child(even) .timeline-contenido::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }
}

/* Formulario cocntacto */
.contenedor-contacto {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contacto-formulario input[type="text"],
#contacto-formulario input[type="email"],
#contacto-formulario input[type="tel"],
#contacto-formulario input[type="url"],
#contacto-formulario textarea,
#contacto-formulario button[type="submit"] {
  font: 400 12px/16px, "ff-meta-serif-web-pro", sans-serif;
}

#contacto-formulario {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contacto-formulario h3 {
  display: block;
  font-size: 1.75em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  letter-spacing: -1px;
}

#contacto-formulario h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contacto-formulario input[type="text"],
#contacto-formulario input[type="email"],
#contacto-formulario input[type="url"],
#contacto-formulario textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contacto-formulario input[type="text"]:hover,
#contacto-formulario input[type="email"]:hover,
#contacto-formulario input[type="url"]:hover,
#contacto-formulario textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contacto-formulario textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contacto-formulario button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--main-blue);
  color: var(--main-black);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contacto-formulario button[type="submit"]:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}

#contacto-formulario button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contacto-formulario input:focus,
#contacto-formulario textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Footer */
footer {
  display: flex;
  padding: 2rem 0 1rem 0;
  text-align: center;
  position: sticky;
  justify-content: center;
}

footer p {
  font-size: 12px;
}

.footer-contacto {
  background-color: var(--main-blue);
}

/* Tabla */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

th {
  color: var(--main-grey);
  background: var(--main-light-blue);
  border-bottom: 4px solid #1818185c;
  border-right: 1px solid #1818185c;
  font-size: 23px;
  font-weight: 100;
  padding: 0.8rem;
  text-align: left;
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom-: 1px solid #c1c3d1;
  color: var(--main-gray);
  font-size: 16px;
  font-weight: normal;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 0.6rem;
  border-right: 1px solid #c1c3d1;
  text-align: justify;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*Variables*/
:root {
  --main-blue: rgba(9, 162, 255, 0.85);
  --main-light-blue: rgba(9, 161, 255, 0.521);
  --main-black: #181818;
  --main-gray: #555;
  --main-surface-color: #fff;
  --curve: 40;
}
